<!DOCTYPE html>
<html lang="en">

{% include 'top-nav.html' %}


<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"> 
                        <strong>Os nossos Círculos</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    
                    {% block content %}

                    {% for Circulos in object_list %}

                    <!--<img class="img-responsive img-border img-full" src="/static/img/slide-1.jpg" alt=""> -->

                    <h2>{{ Circulos.title }} </h2>

                    <p>{{ Circulos.body|safe|linebreaks}}</p>
                    
                    <br>
                        <p><small> on {{ Circulos.adress }}</small><small> on {{ Circulos.date }}</small></p>
                    <hr>

                    {% endfor %}
                    {% endblock %}
                </div>
                
            </div>
        </div>

    </div> 
    <!-- /.container -->

    {% include 'footer.html' %}
</body>

</html>
