<!--Footer-->
    <footer id="footer">
        <div class="container">
            <div class="row-fluid">

                <!--<div class="span1">
                    <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
                </div>
                <!--/Goto Top-->
                <div class="row-fluid">

            <!--Contact Form-->
            <div>
                <ul id="address">
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> info@atsia.pt
                    </li>
                    <li>
                        <i class="icon-globe"></i>
                        <strong>Website:</strong> http://www.atsia.pt/
                    </li>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Telefone:</strong>  +351 962 730 354
                    </li>
                    <li>
                    </li>
                    <li>
                        <a href="#" class="crunchify-top"><b>Back to top</b> ↑</a>
                    </li>
                    <div class="floatright">
                        <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/atsia.pt/"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_40x40.png"></a> 
                        <a target="_blank" title="follow me on twitter" href="https://twitter.com/atsiapt"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_40x40.png"></a> 
                    </div>

                </ul>
            </div>
            </div>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</script>
 
<script>            
    jQuery(document).ready(function() {
        var offset = 220;
        var duration = 500;
        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > offset) {
                jQuery('.crunchify-top').fadeIn(duration);
            } else {
                jQuery('.crunchify-top').fadeOut(duration);
            }
        });
 
        jQuery('.crunchify-top').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
        })
    });
</script>
    <!--/Footer-->