<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include 'top-nav_forum.html' %}

<body>
    <!-- / .título -->   

    <section id="services">
    <div class="container">
        <div class="center gap">
            <h3>Descrição do Fórum</h3>
            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam</p>
        </div>          
    </div>
    </section>     

    <!-- Círculos -->

    <section id="terms-use" class="container">

        {% block content %}
        {% for CirculoForum in object_list %}



        <div class="blog-item well">
            <a href="#"><h2>{{ CirculoForum.nome }}</h2></a>   
            <div class="blog-meta clearfix">
                <p class="pull-right"><i class="icon-comment pull"></i> <a href="blog-item.html#comments">{{ CirculoForum.numero_topicos }} Tópicos</a></p>
            </div>
            <p>{{ CirculoForum.descricao|safe|linebreaks }}</p>


            <a href="{% url "forum_view" forum_id=CirculoForum.id %}"  class="btn btn-link">Ver Mais <i class="icon-angle-right"></i></a>
        </div>
        {% endfor %}
        {% endblock %}
    </section>
    <!--/Círculos -->


    <!--Footer-->
    <footer id="footer">
        <div class="container">
            <div class="row-fluid">

                <!--<div class="span1">
                    <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
                </div>
                <!--/Goto Top-->
                <div class="row-fluid">

            <!--Contact Form-->
            <div>
                <ul id="address">
                    <li>
                        <i class="icon-home"></i><strong>Address:</strong> 1032 Wayback Lane
                    </li>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> support@email.com
                    </li>
                    <li>
                        <i class="icon-globe"></i>
                        <strong>Website:</strong> www.domain.com
                    </li>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Toll Free:</strong> 631-409-3105
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->

   

</body>
</html>
