<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include 'top-nav_forum.html' %}

<body>

    <!-- Título -->  
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>{{ CirculoForum.nome }}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- / .Título -->        

    <!-- Tópicos -->

    <section id="terms-use" class="container">

        {% block content %}
        {% for Topico in topicos %}
        
        <div class="blog-item well">
            <a href="#"><h2>{{ Topico.Titulo }}</h2></a>   
            <div class="blog-meta clearfix">
                <p class="pull-right"><i class="icon-comment pull"></i> <a href="blog-item.html#comments">{{ Topico.numero_respostas }} respostas</a></p>
            </div>
            <p>{{ Topico.Descricao|safe|linebreaks }}</p>
            
            
            <a class="btn btn-link" href="#">Ver Mais <i class="glyphicon glyphicon-remove"></i></a>
        </div>
        {% endfor %}
        {% endblock %}
    </section>
    <!--/Tópicos -->


    {% include 'footer_forum.html' %}


</body>
</html>
