<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include 'top-nav_forum.html' %}

<body>

    <!-- Título -->  
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>{{ CirculoForum.nome }}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- / .Título -->        

    <!-- Tópicos -->

    <section id="terms-use" class="container">
        <div class="media-body">   <button type="button" class="btn btn-default btn-sm pull-right"> <h4> <a href="/forum/{{CirculoForum.id}}/CriarTopico" class="pull-right">Novo Tópico </a></h4> </button></div><br>
        {% block content %}
        {% for Topico, Message in lista %}
        
        <div class="blog-item well">
            <a href="/forum/topico/{{Topico.id}}/"><h2>{{ Topico.Titulo }}</h2></a>   
            <div class="blog-meta clearfix">
                {% if Message.TopicoId == Topico.id %}
                <p class="pull-right"><a href="/forum/topico/{{Topico.id}}/">{{ Message.TopicoId__count }} respostas</a></p>
                {%else %}
                <p class="pull-right"><a href="blog-item.html#comments">0 respostas</a></p>
                {% endif %}
            </div>
            <p>{{ Topico.Descricao|safe|linebreaks|slice:":250" }}...</p>
            <a class="btn btn-link" href="/forum/topico/{{Topico.id}}/">Ver Mais <i class="glyphicon glyphicon-search"></i></a>
        </div>
        
        {% endfor %}
        {% endblock %}

        <div class="bs-example" style="text-align:center">
            <ul class="pagination">

            {% if hasPrevious %}<li><a href="/forum/{{CirculoForum.id}}/{{previousPage}}">&laquo;</a></li>{% endif %}
                
                {% for i in nr_paginas %}
                <li><a href="/forum/{{CirculoForum.id}}/{{ i }}">{{ i }}</a></li>
                {% endfor %}
             {% if hasNext %}<li><a href="/forum/{{CirculoForum.id}}/{{nextPage}}">&raquo;</a></li>{% endif %}
            </ul>
        </div>
    </section>
    <!--/Tópicos -->




    {% include 'footer_forum.html' %}


</body>
</html>
