
{% include 'top-nav_forum.html' %}

<link rel="stylesheet" href="/static/css/forum/mensagens.css">
<body>

  <div class="tab-content">
    <div class="tab-pane active" id="inbox">

      <div class="container">
       <div class="content-container clearfix">
         <div class="col-md-12">
           <h1 class="content-title">Mensagens</h1>

           <h4> <a href="/forum/novamensagem/" class="pull-right">Nova Mensagem </a></h4>


           <input type="search" placeholder="Search Mail" class="form-control mail-search" />

           <ul class="mail-list">


            {% block content %}
            {% for mensagem in messases_not_read %}
            <li>
             <a href="/forum/mensagem/{{mensagem.id}}">
               <span class="mail-sender">{{mensagem.username}} [Nao Lida]</span>
             </a>
           </li>
           {% endfor %}

            {% for mensagem in messages %}
            <li>
             <a href="/forum/mensagem/{{mensagem.id}}">
               <span class="mail-sender">{{mensagem.username}}</span>
             </a>
           </li>
           {% endfor %}
           {% endblock %}


         </ul>
       </div>
     </div>
   </div>

 </div>


</body>

{% include 'footer_forum.html' %}

</html>
