
{% include 'top-nav_forum.html' %}

<link rel="stylesheet" href="/static/css/forum/mensagens.css">
<body>

  <div class="tab-content">
    <div class="tab-pane active" id="inbox">

      <div class="container">
       <div class="content-container clearfix">
         <div class="col-md-12">
           <h1 class="content-title">Mensagens</h1>

           <h4> <a href="#" class="pull-right">Nova Mensagem </a></h4>


           <input type="search" placeholder="Search Mail" class="form-control mail-search" />

           <ul class="mail-list">

            {% block content %}
            {% for mensagem in messages_to %}
            <li>
             <a href="/mensagem/{{mensagem.id}}">
               <span class="mail-sender">{{mensagem.Autor}}</span>
               <span class="mail-subject">{{mensagem.Assunto}}</span>
               <span class="mail-message-preview">{{mensagem.Texto|safe|slice:":25"}}...</span>
             </a>
           </li>
           {% endfor %}
           {% endblock %}


         </ul>
       </div>
     </div>
   </div>

 </div>


</body>

{% include 'footer_forum.html' %}

</html>
