<!DOCTYPE html>
<html lang="en">

{% include 'top-nav_forum.html' %}

<div class="form-group col-lg-12">
<h4 class="" style="margin-top: 1cm;">Enviar Mensagem</h4>
	<form action="/forum/post_mensagem/" method="post">
		<div class="row-fluid">
		</div>
		{% csrf_token %}
		{{form.as_p}}

		{% block content %}
		<div class="form-group" style="max-width: 10cm;">
			<label for="sel1">A quem quer mandar uma mensagem?</label>
			<select name="Destinatario" class="form-control" required>
				{% for pessoal in pessoas %}
				<option value="{{ pessoal.id }}">{{ pessoal.username }}</option>
				{% endfor %}
			</select>
		</div>

		{% endblock %}
		<textarea rows="10" name="Texto" id="Mensagem" required="required" class="form-control" placeholder="Mensagem"></textarea>


		<input type="submit" value="Enviar Mensagem" class="btn btn-large btn-primary" style="margin-top: 0.3cm;" />
	</form>
</div>


{% include 'footer_forum.html' %}
</body>

</html>