<!DOCTYPE html>
<html lang="en">

{% include 'top-nav_forum.html' %}
<h4>Nova Mensagem</h4>

<div class="form-group col-lg-12">

	<form action="/forum/post_mensagem/" method="post">
		<div class="row-fluid">
		</div>
		{% csrf_token %}
		{{form.as_p}}

		{% block content %}
		<div class="form-group col-lg-4">
			<label for="sel1">Select list (select one):</label>
			<select name="Destinatario" class="form-control" required>
				{% for pessoal in pessoas %}
				<option value="{{ pessoal.id }}">{{ pessoal.username }}</option>
				{% endfor %}
			</select>
		</div>

		{% endblock %}
		<textarea rows="10" name="Texto" id="Mensagem" required="required" class="form-control" placeholder="Mensagem"></textarea>


		<input type="submit" value="Enviar Mensagem" class="btn btn-large btn-primary" />
	</form>
</div>


{% include 'footer_forum.html' %}
</body>

</html>