<!DOCTYPE html>
    
    {% include 'top-nav.html' %}
    <script  src="/static/js/jquery.js"></script>
   <script  src="/static/js/lightbox.js"></script>
    <link href="/static/css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
 

    <article class="album">
  
  <div class="album-photos" style="padding-bottom: 2cm;" >
    
    <div class="w3-column-padding">
        
        <div class="w3-third">
    <a data-lightbox="image-1" class="album-photo" href="/static/img/EDP.png">
      <img src="/static/img/EDP.png" >
    </a>
        </div>
        <div class="w3-third">

    <a data-lightbox="image-1" class="album-photo" href="/static/img/santacasa.jpg">
      <img src="/static/img/santacasa.jpg" alt="">
    </a>

        </div>
        <div class="w3-third">
    <a data-lightbox="image-1" class="album-photo" href="/static/img/HSMCHLN.png">
      <img src="/static/img/HSMCHLN.png" alt="">
    </a>
        </div>
        
        <div class="w3-third">
    <a data-lightbox="image-1" class="album-photo" href="/static/img/fabricadascores.png">
      <img src="/static/img/fabricadascores.png" alt="">
    </a>
        </div>
         <div class="w3-third">

    <a data-lightbox="image-1" class="album-photo" href="/static/img/codingforimpact.png">
      <img src="/static/img/codingforimpact.png" alt="">
    </a>
        </div>
        <div class="w3-third">

    <a data-lightbox="image-1" class="album-photo" href="/static/img/carnideJF.jpg">
      <img src="/static/img/carnideJF.jpg" alt="">
    </a>
        </div>
       
        
        <div class="w3-third">

    <a data-lightbox="image-1" class="album-photo" href="/static/img/logo-feup.png">
      <img src="/static/img/logo-feup.png" alt="">
    </a>
        </div>
        
    </div>
    </div>
    </article>                            
   
   {% include 'footer.html' %}

</body>

</html>
