<!DOCTYPE html>
<html lang="en">

{% include 'top-nav.html' %}

<style>

.myIframe {
position: relative;
padding-bottom: 35.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
border: solid black 1px;
} 
.myIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 60%;
margin-left: 20.5%;
height: 100%;
}

</style>

<div class="container" style="margin-bottom: 200px; max-width:90%;">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Atsia 
                    <strong>blog</strong>
                </h2>
                <hr>
            </div>
            {% block content %}

            <div class="col-lg-12 text-center">


                <!--<img class="img-responsive img-border img-full" src="/static/img/slide-1.jpg" alt=""> -->

                <h2>{{ blog.title }}
                    <br>
                    <small> on {{ blog.date }}</small>
                </h2>
                <img class="img-responsive center-block" src="/{{blog.photo_img}}"  >


                <p>{{ blog.body|safe|linebreaks}}</p>
                {% if blog.video != 'static/default/video.mp4' %}
                <video width="95%" height="40%" controls>
                    <source src="/{{blog.video}}" type="video/mp4">
                    </video>
                {% elif blog.videourl != 'videourl' %}
            <div class='myIframe' style="margin-bottom: 60px;" >
                <iframe src="{{blog.videourl}}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}



                    <div class="col-lg-12 text-center">
                        <a href='/blog/' class="btn btn-default btn-lg">Retroceder</a>
                        <hr>
                    </div>
                    
                </div>

                {% endblock %}
            </div>
        </div>

    </div> 
    <!-- /.container -->

    {% include 'footer.html' %}
</body>

</html>