<html lang="en">




<head>

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fórum | Atsia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/forum/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/css/forum/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/forum/main.css">
    <link rel="stylesheet" href="/static/css/forum/sl-slide.css">

    <script src="/static/js/forum/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/img/forum/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/forum/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/forum/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/forum/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/forum/ico/apple-touch-icon-57-precomposed.png">
</head>

    <script src="/static/js/forum/vendor/jquery-1.9.1.min.js"></script>
    <script src="/static/js/forum/vendor/bootstrap.min.js"></script>
    <script src="/static/js/forum/main.js"></script>

    <body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-default" id ="bootstrap-overrides" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href='/'>Atsia</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li>
                <a href='/' style="padding: 1px">
                    <img  src="/static/img/Logo_ATSIA-01.png" alt="" style="max-height:70px" class=".img-responsive">
                    </a>
                </li>
                    <li>
                        <a href='/about/'>Circulos</a>
                    </li>
                    <li>
                        <a href='/areapessoal/'>Área pessoal</a>
                    </li>
                    <li>
                        <a href='/radio/'>Rádio</a>
                    </li>
                    <li>
                        <a href='/parceiros/'>Parceiros</a>
                    </li>
                    <li>
                        <a href='/contact/'>Contactos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href='/logout/'>Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

