
.top {
font-family: oswald;
  font-size: 70px;
  color: #fff;
  text-align: center;

}
.music {
  list-style: none;
  background: #61b3b2;
  padding: 10px;
  margin-left: -25px;
  font-family: oswald;
  color: #fff;
  width: 550px;
  font-size: 20px;
}
.music:nth-child(odd) {
  background: #256665;
  color:#fff;
}
.sub {
  font-size: 30px;
  margin-top: -20px;
  color: #fff;
  letter-spacing: 15px;
}
.title {
  color: #fff;
  font-family: oswald;
  font-size: 30px;
  padding: 10px;
}
.body {
  width: 600px;
  padding-bottom: 20px;
  background: #378a89;
  margin-left: auto;
  margin-right: auto;
     background-color: #FF9900;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}
